body{
    background-image: url(https://image.api.playstation.com/vulcan/img/rnd/202011/0204/YZknttdAwt3tkIGlZiNIKTC3.png?w=1920&thumb=false);
    background-repeat: no-repeat;
}
p{
    color:brown
    font-size:blue
}
h3{color: rgb(14, 28, 230);
    background-color: aqua;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
h4{background-color:aqua;
    color:blue
    
}